*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #334756;
    height: 10vh;
    position: relative;
    left:0;
    right:0;
    top:0;
}
body{
    height:80vh;
    width: 100vw;
    position: relative;
}
footer{
    background-color: #334756;
    position: relative;
    left:0;
    right:0;
    bottom:0;
    height: 10vh;
}
#pag1{ /*primera pag, llamada por id*/
    background-image: url(Images/ImgPag1D.jpg);
    height:100%;
    width: 100%;
    padding: 11% 5% 5%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: serif;
    color: #082032;
}
h1[class^="g"]{ /* attribute selector*/
    font-size: calc(2rem + 1vw);
    font-family:'Source Sans Pro';
    font-weight: lighter;
}
#containerPag1{
    width: 100%;
    position: relative;
    height: 25px;
}
#eye, #eyeslash{
    width: calc(1rem + 0.5vw);
    height: calc(1rem + 0.5vh);
    position: absolute;
    right: 1%;
    bottom: 15%;
}
#user, #pswrd{ /* input de usuario y contrasena*/
    border: none;
    border-bottom: 2px solid #082032;
    height: 25px;
    width: 100%;
    font-size: 15px;
    background: none;
}
#user:focus, #pswrd:focus, #offset:focus, #text:focus{
    background: #CED9E2;
}
#textcod:hover,  #offset:hover, #text:hover{
    background: #CED9E2;
}
::placeholder { /* pseudo elemento*/
    color: #082032;
    font-size: 17px;
    font-family:'Source Sans Pro';
}
.pag2{
    background: linear-gradient(to bottom, #89c4ee, #CED9E2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    padding: 3% 2% 6% 7%;
    height:100%;
    width: 100%;
    color:#082032;
}
img{
    width:240px;
    height:175px;
}
#proyects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: justify;
    justify-content: space-around;
}
#form2{
    display: block;
    justify-content: center;
    margin-left: 5%;
}
#text, #textcod{
    height: 30vh;
    width: 40%;
    text-align: justify;
    border-radius: 8px;
}
#change{
    width: calc(1.5rem + 0.5vw);
    height: calc(1.5rem + 0.5vh);
    transform: translateY(-12vh);
    background: #CED9E2;
}
input[id^="btn"]{ /* attribute selector*/
    width: 120px;
    height: 28px;
    border-width: 1.5px;
    border-color: #082032;
    font-family: serif;
    font-size: 15px;
    background: #ABC7DB;
    border-radius: 5px;
}
input[id^="btn"]:hover, #change:hover{
    color: #7db7e4;
    background: #082032;
}
#btn{
    color: #082032;
    border-color: #ABC7DB;
    height: 40px;
    font-weight: bolder;
    font-family:'Source Sans Pro';
    background: none;
    background: #CED9E2;
    opacity: 0.6;
}
#btn:hover, #btn6:hover{
    background: #CED9E2;
    opacity: 0.9;
}
#btn4{
    height: 30px;
    width: 140px;
}
#btn6{
    color: #082032;
    border-color: #ABC7DB;
    background: #CED9E2;
    width: 150px;
    height: 30px;
    margin-top: 15px;
    font-weight: bold;
    opacity: 0.6;
}
#offset{ 
    height: 30px;
    width: 20%;
    border-radius: 8px;
     display:block;
}
figcaption{
    font-weight: bolder;
    font-family:'Source Sans Pro';
    font-size: 15px;
}
.error-text {
    color: rgb(0, 0, 0);
    font-weight: bolder;
  }
#mensaje{
    width: 320px;
    opacity: 0.8;
    margin-bottom: 10px;
}textarea{
    padding:4% ;
}

/*cursor: text; para el texto
cursor: pointer; para botones*/
